/* ========================================
   BOUTON ACCUEIL
======================================== */

.btn-accueil {

    position: fixed;

    top: 15px;

    left: 15px;

    z-index: 999;
}

.btn-accueil button {

    min-height: 52px;

    padding: 0 18px;

    border: none;

    border-radius: 14px;

    background:
        linear-gradient(
            135deg,
            #0f2d62,
            #1e40af
        );

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 12px;

    font-size: 18px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.3s;
}

.btn-accueil button:hover {

    transform: translateY(-2px);

    box-shadow:
        0 8px 18px rgba(0,0,0,0.15);
}

.logo-action {

    width: 18px;

    height: 18px;

    object-fit: contain;
}

/* ========================================
   CARTE PRINCIPALE
======================================== */

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

.centre-page {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 80vh;            /* hauteur Ã©cran */
}

/* image de maintenance */
.centre-page img {
    width: 450px;
    margin-top: 10px;
}
